<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js%22%3E%22%3E"></script>
    </head>
    <body>
        <div id="app" class="app">
            <span>{{ geradorn1 }}</span>
            <span> + </span>
            <span>{{ geradorn2 }}</span>
            <span> =</span>
            <input type="text" id="campo" v-model="n3" />
​
            <h1 v-if="parseInt(geradorn1) + parseInt(geradorn2) === parseInt(n3)">You're right</h1>
            <h1 v-if="n3 !== 0 && parseInt(geradorn1) + parseInt(geradorn2) !== parseInt(n3)">You missed</h1>
        </div>
​
        <script src="Vue.js"></script>
    </body>
</html>
